<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>

</head>

<body>

	<section>
		<div id="login">
			
		<div class="container mt-5">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6">

					<div id="login-column-2" class="col-md-12">


						<div class="my-card mt-3 ">


							<div class="alert alert-success text-center mx-2 " role="alert">
								We have sent OTP to your email.
							</div>
							
							
							<!-- This is message box-->

								<div th:if="${session.message}" class="container">

									<div class="alert alert-danger my-2 text-center" role="alert">
										<span th:text="${session.message}"></span>

									</div>

									<th:block th:text="${#session.removeAttribute('message')}"></th:block>
								</div>
								
							
							<form method="post" action="#" th:action="@{/verify-otp}">

								<div class="form-group">

										<h2 class="text-info">Verify OTP</h2>
									<input name="otp" required="required" type="number" placeholder="Enter OTP here"
										class="form-control mt-3" />
								</div>

								<div class="container text-center m-3">

									<button class="btn btn-success"> Verify</button>
								</div>
							</form>
							<!-- Email form-->
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>



</body>

</html>